@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;1,100;1,200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container2{
    width: 500px;
    height: auto;
    background-color: white;
    border-radius: 5px;
    position: relative;
    top: 40%;
    left:50%;
    /* left: 10%; */
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
}

.box{
    background-color: white;
    
    width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h3{
    font-size: 250px;
    margin: 15px;
}

.name{
    width: 100%;
    position: relative;
    margin-bottom: 15px;
}

.name i{
    position: absolute;
    top:50%;
    left: 30px;
    transform: translateY(-50%);
    font-size: 20px;
    color: #bbb;
}

.name input{
    width: 100%;
    padding: 20px 60px;
    border: none;
    outline: none;
    font-size: 18px;
    background-color: #bbb;
    border-radius: 40px;
}

.name textarea::placeholder{
    color: #bbb;
    font-weight: 500;
}

.email{
    width: 100%;
    position: relative;
    margin-bottom: 15px;
}

.email i{
    position: absolute;
    top:50%;
    left: 30px;
    transform: translateY(-50%);
    font-size: 20px;
    color: #bbb;
}

.email input{
    width: 100%;
    padding: 20px 60px;
    border: none;
    outline: none;
    font-size: 18px;
    background-color: #bbb;
    border-radius: 40px;
}

.email textarea::placeholder{
    color: #bbb;
    font-weight: 500;
}

.message{
    width: 100%;
    position: relative;
    margin-bottom: 15px;
}

.message i{
    position: absolute;
    top:50%;
    left: 30px;
    transform: translateY(-50%);
    font-size: 20px;
    color: #bbb;
}

.message textarea{
    width: 100%;
    padding: 20px 60px;
    border: none;
    outline: none;
    font-size: 18px;
    background-color: #bbb;
    border-radius: 40px;
}

.message textarea::placeholder{
    color: #bbb;
    font-weight: 500;
}

.button{
    width: 100%;
    cursor: pointer;
    margin-bottom: 20px;
}
.button button{
    width: 100%;
    padding: 10px;
    font-size: 20px;
    color: #fff;
    background-color: bisque;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
}

.messages{
    width: 100%;
    position: relative;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
}

.messages .success{
    font-size: medium;
    color: green;
    position: absolute;
    animation: buttons .3s linear;
    display: none; 
}

.messages .failed{
    font-size: 20px;
    color: red;
    position: absolute;
    animation: buttons .3s linear;
    display: none; 
    transition: .3s;
}

@keyframes button{


0%{
    transform: scale(0.1);
}

50%{
    transform: scale(0.5);
}

100%{
    transform: scale(1);
}

}




